/nbproject/private
/.idea

/composer.lock

/app/bootstrap.php.cache
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/parameters.yml

/app/build/coverage/
/app/build/logs/
/app/build/code-browser/
/app/build/pdepend/

*.directory

/vendor/

/web/i18n/
/web/bundles/
/web/css/
/web/media/
/web/js/

*.php~
*.js~

/server.htaccess                                                                                                                                                                                                               
/server.htpasswd                                                                                                                                                                                                            
/server2.htaccess

/tmp/
